{% extends "base.html.twig" %}
{% block title %} Dodaj użytkownika {% endblock %}
{% block body %}

    {% include "usernavbar.html.twig" %}
    {% include "flash.html.twig" %}
    <center>
        <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width: 40rem;">
            <form action="{{ path('add_user') }}" method="post">
                <br /><h3 class="card-title">Dodaj nowego użytkownika</h3><br />
                <div class="form-row">
                    <div class="col" style="margin: 15px 15px 0px 15px;">
                        <input type='text' class="form-control" name='name' maxlength=30 placeholder="Podaj imię..."/>
                    </div>
                    <div class="col" style="margin: 15px 15px 0px 0px;">
                        <input type='text' class="form-control" name='surname' maxlength=50 placeholder="Podaj nazwisko..."/>
                    </div>
                </div><br />
                <div class="form-row">
                    <div class="col" style="margin: 15px 15px 0px 15px;">
                        <input type='text' class="form-control" name='mail' placeholder="Podaj adres mailowy..."/>
                    </div>
                    <div class="col" style="margin: 15px 15px 0px 0px;">
                        <input type='tel' class="form-control" name='pnumber' placeholder="Podaj numer telefonu..."/>
                    </div>
                </div><br />
                <center>
                    <input class="btn btn-outline-info" type='submit' value='Dodaj'>
                </center><br />
            </form>
        </div>
    </center>

{% endblock %}