{% extends "base.html.twig" %}
{% block title %} Dodaj {% endblock %}
{% block body %}

    {% include "addressnavbar.html.twig" %}
    {% include "flash.html.twig" %}
    <center>
        <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width: 40rem;">
            <form action="{{ path('add_address') }}" method="post">

                <br /><h3 class="card-title">Dodaj nowy adres</h3><br />

                <div class="form-row">
                    <div class="col" style="margin: 15px 15px 0px 15px;">
                        <select name="user_id" class="form-control">
                            <option>Wybierz mieszkańca...</option>
                            {% for user in records %}
                                <option value="{{ user.id }}">
                                    {{ user.name }} {{ user.surname }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col" style="margin: 15px 15px 0px 0px;">
                        <input type='text' class="form-control" name='street' placeholder="Podaj ulicę..."/>
                    </div>
                </div><br />
                <div class="form-row">
                    <div class="col" style="margin: 15px 15px 0px 15px;">
                        <input type='text' class="form-control" name='postnumber' placeholder="Podaj kod pocztowy..."/>
                    </div>
                    <div class="col" style="margin: 15px 15px 0px 0px;">
                        <input type='text' class="form-control" name='city' placeholder="Podaj miasto..."/>
                    </div>
                </div><br />
                <div class="form-row">
                    <div class="col" style="margin: 15px 15px 0px 15px">
                        <input type='text' class="form-control" name='country' placeholder="Podaj kraj..."/>
                    </div>
                </div><br />
                <center>
                    <input class="btn btn-outline-info" type='submit' value='Dodaj'>
                </center><br />
            </form>
        </div>
    </center>

{% endblock %}